.countdown {
	width:100%;

	.endFloat {
		position:fixed;
		width:100%;
		height:100%;
		left:0;
		top:0;
		z-index:6;
		background-color:rgba(255,255,255,.6);
	}
	
	.endFloatCircle {
		background-color:rgba(102,102,102,.8);
		border:2px solid #666666;/*px*/
		width:356px;
		height:356px;
		margin:0 auto;
		margin-top:441px;
		border-radius:100%;

		.img-wrap {
			width:140px;
			height:140px;
			margin:0 auto;
			margin-top:67px;
			img {
				width:100%;
				height:100%;
			}
		}

		.img-wrap-text {
			font-family:PingFangSC-Regular;
			font-size:36px;
			color:#ffffff;
			letter-spacing:1.89px;/*px*/
			text-align:center;
			margin-top:14px;
		}
	}

	.closed-title {
		font-family:PingFangSC-Light;
		font-size:36px;
		color:#ffffff;
		letter-spacing:0.69px;/*px*/
		line-height:33px;
		text-align:center;
	}

	.closed-content {
		font-family:PingFangSC-Light;
		font-size:20px;/*px*/
		color:#999999;
		letter-spacing:0.38px;/*px*/
		line-height:1em;/*px*/
		text-align:center;
		margin-top:8px;
	}

	.closed {
		background-color:#424242;
		display: -webkit-box;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		-webkit-box-orient: vertical;
		height:90px;
		overflow: hidden;
	}
	.countdown-wrap {
		background:#f2f2f2;
		width:750px;
		height:90px;
		display: -webkit-box;
		-webkit-box-align:center;
	}

	.countdown-wrap-left {
		margin-left:30px;
		-webkit-box-flex:1;
	}

	.countdown-wrap-right {
		margin-right:10px;
		display: -webkit-box;
		-webkit-box-align:center;
	}
	
	.black-cir {
		width: 62px;
		height: 56px;
		font-family:PingFangSC-Semibold;
		font-size:30px;
		line-height:56px;
		color:#ffffff;
		letter-spacing:1.6px;/*px*/
		text-align:center;
		border-radius:3px;/*px*/
		background-color:rgb(38,38,38);
	}
	
	.timer-text {
		font-family:PingFangSC-Regular;
		font-size:16px;/*px*/
		color:#424242;
		letter-spacing:0.84px;/*px*/
		text-align:center;
		margin:0 3px;
	}

	.countdown-top-p {
		font-family:PingFangSC-Light;
		font-size:26px;/*px*/
		color:#333333;
		letter-spacing:0.5px;/*px*/
		line-height:33px;/*px*/
		text-align:left;
		margin-bottom:4px;/*px*/
	}

	.countdown-bottom-p {
		font-family:PingFangSC-Light;
		font-size:18px;/*px*/
		color:#999999;
		letter-spacing:0.34px;/*px*/
		line-height:19px;/*px*/
		text-align:left;
	}
	.bt-font-size {
		font-size: 26px;/*px*/
	}
}